<!DOCTYPE html>

<html>

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="author" content="Obi1, contato@obi1.com.br">
    <meta name="copyright" content="Obi1">
    <meta name="description" content="Mobile ERP - Administração">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>KasaFlor - PDV</title>

</head>

<body>

    <form id="orderForm">
        <div id="pdvApp">
            <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalTitle"
                aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="itemModalTitle">
                                Adicionar Item
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="codProductFilter" class="col-1">Cód.</label>
                                <input id="codProductFilter" type="text" class="form-control form-control-sm col-2"
                                    v-model="auxFields.itemFilter.cod" v-on:keydown.enter="filterItems($event)">
                                <!-- <label for="nameProductFilter" class="col-2">Nome Prod.</label>
                                <input id="nameProductFilter" type="text" class="form-control form-control-sm col-4"
                                    placeholder="Produto" v-model="auxFields.itemFilter.name" v-on:keyup.enter="filterItems()"> -->
                                <button type="button" class="btn btn-sm btn-info col-2 ml-2"
                                    onclick="filterItems()">Pesquisar</button>
                            </div>
                            <hr>
                            <p class="h6">Produtos Disponíveis:</p>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Código</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Qtd. Disp.</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col">Adicionar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in itemFilter">
                                        <th style="cursor: default;">{{ item.codProduct }}</th>
                                        <th style="cursor: default;">{{ item.name }}</th>
                                        <th style="cursor: default;">{{ item.productItems.length }}</th>
                                        <th style="cursor: default;">{{ strCurrency(item.value, true) }}</th>
                                        <th width="20" style="cursor: default;">
                                            <div class="input-group">
                                                <input type="number" class="form-control form-control-sm itemQtdAdd"
                                                    v-model="auxFields.itemQtdAdd"
                                                    v-on:keydown.enter="addItem(item, $event)">
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-sm btn-secondary"
                                                        v-on:click="addItem(item)">+</button>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr v-if="itemFilter.length == 0">
                                        <th colspan="5" style="cursor: default;" class="text-center">
                                            Utilize o filtro acima para encontrar os produtos.
                                            Caso não esteja encontrando, certifique-se de que o produto que está
                                            buscando já
                                            não está reservado em algum outro pedido.
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                onclick="$('#itemModal').modal('hide');">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalTitle"
                aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="paymentModalTitle">
                                Adicionar Pagamento
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="tpPayment">Tipo</label>
                                <select id="tpPayment" class="form-control cmbTypePayment"
                                    v-model="auxFields.payment.tpPayment">
                                    <option value="CASH">Dinheiro</option>
                                    <option value="CREDIT">Cartão de Crédito</option>
                                    <option value="DEBIT">Cartão de Débito</option>
                                    <option value="CHECK">Cheque</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="paymentValue">Valor</label>
                                <input id="paymentValue" type="text" class="form-control valuePayment"
                                    v-model.lazy="auxFields.payment.value" v-money="money"
                                    v-on:keydown.enter="addPayment($event)">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                onclick="$('#paymentModal').modal('hide');">Cancelar</button>
                            <button type="button" class="btn btn-primary" v-on:click="addPayment()">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalTitle"
                aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="customerModalTitle">
                                Cliente
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col">
                                    <label for="customerPhone">Telefone</label>
                                    <input type="text" id="customerPhone" class="form-control form-control-sm"
                                        v-model="auxFields.customerFilter.phone"
                                        v-on:keydown.enter="filterCustomer($event)">
                                </div>
                                <div class="form-group col">
                                    <label for="customerEmail">Email</label>
                                    <input type="text" id="customerEmail" class="form-control form-control-sm"
                                        v-model="auxFields.customerFilter.email"
                                        v-on:keydown.enter="filterCustomer($event)">
                                </div>
                                <div class="col-sm-2 align-text-bottom" style="margin-top: 33px;">
                                    <button type="button" class="btn btn-sm btn-primary"
                                        onclick="filterCustomer()">Pesquisar</button>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col">
                                    <table class="table table-hover table-sm text-left">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Telefone</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="customer in customerList" v-on:click="addCustomer(customer)">
                                                <th>{{ customer.name }}</th>
                                                <th>{{ customer.email }}</th>
                                                <th>{{ customer.phone }}</th>
                                            </tr>
                                            <tr v-if="customerList.length == 0">
                                                <th colspan="3" style="cursor: default;" class="text-center">
                                                    Nenhum cliente encontrado. Utilize o filtro acima para encontrar os
                                                    clientes.
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                onclick="$('#customerModal').modal('hide');">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid loading position-absolute bg-white h-100 pt-5"
                style="opacity: 0.5; top: 0; z-index: 6000;">
                <div class="d-flex justify-content-center text-info pt-5">
                    <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;"></div>
                </div>
            </div>

            <div class="container text-center" v-if="!selectedOrder.codOrder">
                <div class="row">
                    <div class="col">
                        <img src="../img/logo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col m-5">
                        <p class="h5 font-weight-normal text-left">
                            Pedidos Abertos:
                        </p>
                        <table class="table table-hover table-sm text-left">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Cliente</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(order, index) in orderList" v-on:click="openOrder(order._id)">
                                    <th>{{ order.codOrder }}</th>
                                    <th>{{ strDate(order.dtCreate) }}</th>
                                    <th>{{ order.customer.name }}</th>
                                </tr>
                                <tr v-if="orderList.length == 0">
                                    <th colspan="3" style="cursor: default;" class="text-center">Não há pedidos abertos
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" v-on:click="newOrder()">Novo Pedido</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid text-center" v-if="selectedOrder.codOrder">
                <div class="pt-5 row">
                    <div class="col-3 text-center"><img src="../img/logo.png"></div>

                    <div class="col pt-4 pb-5">
                        <div class="form-group row">
                            <label class="col-2" for="dtCreate">Pedido</label>
                            <input type="text" class="form-control form-control-sm col-2" readonly
                                v-model="selectedOrder.codOrder">

                            <label class="col-1" for="dtCreate">Data</label>
                            <input type="text" class="form-control form-control-sm col-2" readonly
                                v-model="selectedOrder.strDtCreate">
                        </div>
                        <div class="form-group row">
                            <label class="col-2" for="name">Cliente</label>
                            <input type="text" class="form-control form-control-sm col-5" readonly
                                v-model="selectedOrder.customer.name">
                            <button type="button" class="btn btn-sm btn-secondary ml-2"
                                v-if="!selectedOrder.codCustomer" onclick="selectCustomer()">Buscar Cliente</button>
                            <button type="button" class="btn btn-sm btn-danger ml-2" v-if="selectedOrder.codCustomer"
                                v-on:click="addCustomer({codCustomer:''})">Limpar Cliente</button>

                            <button type="button" class="btn btn-sm btn-secondary ml-2">Novo Cliente</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg p-3">
                        <p class="h2 font-weight-normal text-left">
                            Itens
                            <button type="button" class="btn btn-sm btn-secondary ml-2"
                                onclick="selectItem()">+</button>
                        </p>
                        <table class="table table-sm text-left">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Qtd</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in selectedOrder.productItemList">
                                    <th style="cursor: default;">{{ index + 1 }}</th>
                                    <th style="cursor: default;">{{ item.name }}</th>
                                    <th style="cursor: default;">{{ strCurrency(item.value, true) }}</th>
                                    <th style="cursor: default;">{{ item.codProductitem.length }}</th>
                                    <th style="cursor: default;">
                                        {{ strCurrency(item.codProductitem.length * item.value, true) }}</th>
                                    <th v-on:click="removeItem(index)">x</th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3"></th>
                                    <th>Total</th>
                                    <th>{{ strCurrency(selectedOrder.totalValue, true) }}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-lg p-3">
                        <p class="h2 font-weight-normal text-left">
                            Pagamento
                            <button type="button" class="btn btn-sm btn-secondary ml-2" onclick="selectPayment()"
                                v-bind:disabled="selectedOrder.discount <= 0">+</button>
                        </p>
                        <table class="table table-sm text-left">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Pagamento</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(payment, index) in selectedOrder.paymentList">
                                    <th style="cursor: default;">{{ index + 1 }}</th>
                                    <th style="cursor: default;">{{ paymentType[payment.paymentType] }}</th>
                                    <th style="cursor: default;">{{ strCurrency(payment.value, true) }}</th>
                                    <th v-on:click="removePayment(index)">x</th>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th class="text-right">Restante</th>
                                    <th>{{ strCurrency(selectedOrder.discount, true) }}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center pb-3">
                        <button type="button" v-on:click="closeOrder()" class="btn btn-secondary ml-2">Voltar</button>
                        <button type="button" v-on:click="cancelOrder()" class="btn btn-danger ml-2">
                            Cancelar Pedido
                        </button>
                        <button type="button" v-on:click="finishOrder()" class="btn btn-primary ml-2">Fechar
                            Pedido</button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle"
                aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="alertModalTitle">
                                {{alertMessage.title}}
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="row p-3" v-html="alertMessage.message"></div>
                            <div class="row p-3 text-danger"
                                v-if="alertMessage.type == 'FINISH' && selectedOrder.discount > 0">
                                Atenção: Será aplicado um desconto de {{ strCurrency(selectedOrder.discount, true) }}
                            </div>
                            <div class="row" v-if="alertMessage.type == 'FINISH'">
                                <label for="salesPerson" class="col-3">Vendedor: </label>
                                <select id="salesPerson" class="col form-control form-control-sm"
                                    v-model="selectedOrder.codUser">
                                    <option value="">-- nenhum vendedor --</option>
                                    <option v-for="user in userList" v-bind:value="user.codUser">{{ user.name }}
                                    </option>
                                </select>
                                <div class="col-3"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div v-if="alertMessage.type == 'CONFIRM' || alertMessage.type == 'FINISH'">
                                <button type="button" class="btn btn-secondary"
                                    onclick="confirmAlertAction(false);$('#alertModal').modal('hide');">Cancelar</button>
                                <button type="button" class="btn btn-primary"
                                    onclick="confirmAlertAction(true);$('#alertModal').modal('hide');">Ok</button>
                            </div>
                            <div v-if="alertMessage.type == 'ALERT'">
                                <button type="button" class="btn btn-primary"
                                    onclick="confirmAlertAction(true);$('#alertModal').modal('hide');">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/v-money.js"></script>
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="pdv.js"></script>
</body>

</html>