<!DOCTYPE html>

<html>

<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="author" content="Obi1, contato@obi1.com.br">
    <meta name="copyright" content="Obi1">
    <meta name="description" content="Mobile ERP - Administração">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>KasaFlor - Administração</title>

</head>

<body>

    <div id="mainApp">
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top">
            <a class="navbar-brand" href="/">KasaFlor</a>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" v-for="menu in menus"
                    v-bind:class="{'active': (currentMenu == menu.name), 'dropdown': menu.submenus}">

                    <a class="nav-link" href="#" v-on:click="navigate(menu.name)"
                        v-if="!menu.submenus">{{menu.text}}</a>

                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" v-if="menu.submenus">
                        {{menu.text}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div v-for="submenu in menu.submenus">
                            <a class="dropdown-item" href="#" v-if="submenu.name"
                                v-on:click="navigate(submenu.name)">{{submenu.text}}</a>
                            <div class="dropdown-divider" v-if="!submenu.name"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="container-fluid loading position-absolute bg-white h-100 pt-5"
            style="opacity: 0.5; top: 0; z-index: 6000;">
            <div class="d-flex justify-content-center text-info pt-5">
                <div class="spinner-border" role="status" style="width: 4rem; height: 4rem;"></div>
            </div>
        </div>

        <div class="alert alert-dismissible position-absolute" role="alert" v-for="alert in alerts" v-if="alert.title"
            style="margin-left: 50%; transform: translate(-50%, -50%); top: 10%; z-index: 7000;"
            v-bind:class="{'alert-success': (alert.type == 'success'), 'alert-danger': (alert.type == 'error')}">
            <strong>{{alert.title}}:</strong> {{alert.text}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="pt-3"></div>
        <div id="content" class="container-fluid mainContent pt-5"></div>

        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle"
            aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalTitle">
                            {{alertMessage.title}}
                        </h5>
                    </div>
                    <div class="modal-body" v-html="alertMessage.message"></div>
                    <div class="modal-footer">
                        <div v-if="alertMessage.type == 'CONFIRM'">
                            <button type="button" class="btn btn-secondary"
                                onclick="confirmAlertAction(false);$('#alertModal').modal('hide');">Cancelar</button>
                            <button type="button" class="btn btn-primary"
                                onclick="confirmAlertAction(true);$('#alertModal').modal('hide');">Ok</button>
                        </div>
                        <div v-if="alertMessage.type == 'ALERT'">
                            <button type="button" class="btn btn-primary"
                                onclick="confirmAlertAction(true);$('#alertModal').modal('hide');">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/v-money.js"></script>
    <script src="../js/JsBarcode.all.min.js"></script>
    <script src="../js/gauge.min.js"></script>
    <script src="../js/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="../js/util.js"></script>
    <script type="text/javascript" src="erp.js"></script>
</body>

</html>