<div>
    <form id="orderForm">

        <modal id="addItemModal" title="Adicionar Item" :actions="addItemModalActions" ref="addItemModal" fluid="true">
            <div class="form-group row">
                <label for="codProductFilter" class="col-1">Cód.</label>
                <input id="codProductFilter" type="text" class="form-control form-control-sm col-2 codProductFilter"
                    v-model="auxFields.itemFilter.cod" v-on:keydown.enter="filterItems($event)">
                <button type="button" class="btn btn-sm btn-info col-2 ml-2" @click="filterItems">Pesquisar</button>
            </div>
            <hr>
            <p class="h6">Produtos Disponíveis:</p>

            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Qtd. Disp.</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Adicionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in itemFilter">
                        <th style="cursor: default;">{{ item.codProduct }}</th>
                        <th style="cursor: default;">{{ item.name }}</th>
                        <th style="cursor: default;">{{ item.productItems.length }}</th>
                        <th style="cursor: default;">{{ strCurrency(item.value, true) }}</th>
                        <th width="20" style="cursor: default;">
                            <div class="input-group">
                                <input type="number" class="form-control form-control-sm itemQtdAdd"
                                    v-model="auxFields.itemQtdAdd" v-on:keydown.enter="addItem(item, $event)">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-secondary"
                                        v-on:click="addItem(item)">+</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr v-if="itemFilter.length == 0">
                        <th colspan="5" style="cursor: default;" class="text-center">
                            Utilize o filtro acima para encontrar os produtos.
                            Caso não esteja encontrando, certifique-se de que o produto que está buscando já
                            não está reservado em algum outro pedido.
                        </th>
                    </tr>
                </tbody>
            </table>
        </modal>

        <modal id="paymentModal" title="Adicionar Pagamento" :actions="paymentModalActions" ref="paymentModal">
            <div class="form-group">
                <label for="tpPayment">Tipo</label>
                <select id="tpPayment" class="form-control cmbTypePayment" v-model="auxFields.payment.tpPayment">
                    <option value="CASH">Dinheiro</option>
                    <option value="CREDIT">Cartão de Crédito</option>
                    <option value="DEBIT">Cartão de Débito</option>
                    <option value="CHECK">Cheque</option>
                </select>
            </div>
            <div class="form-group">
                <label for="paymentValue">Valor</label>
                <input id="paymentValue" type="text" class="form-control valuePayment"
                    v-model.lazy="auxFields.payment.value" v-money="money" v-on:keydown.enter="addPayment($event)">
            </div>
        </modal>

        <modal id="customerModal" title="Cliente" :actions="customerModalActions" ref="customerModal" fluid="true">
            <div class="row">
                <div class="form-group col">
                    <label for="customerPhone">Telefone</label>
                    <input type="text" id="customerPhone" class="form-control form-control-sm"
                        v-model="auxFields.customerFilter.phone" v-on:keydown.enter="filterCustomer($event)">
                </div>
                <div class="form-group col">
                    <label for="customerEmail">Email</label>
                    <input type="text" id="customerEmail" class="form-control form-control-sm"
                        v-model="auxFields.customerFilter.email" v-on:keydown.enter="filterCustomer($event)">
                </div>
                <div class="col-sm-2 align-text-bottom" style="margin-top: 33px;">
                    <button type="button" class="btn btn-sm btn-primary" @click="filterCustomer">Pesquisar</button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col">
                    <list-table :items="customerList" :class="['text-left', 'table-hover']"
                        :columns="customerListColumns" :click="addCustomer"
                        msgNoRecords="Nenhum cliente encontrado. Utilize o filtro acima para encontrar os clientes.">
                    </list-table>
                </div>
            </div>
        </modal>

        <modal id="newCustomerModal" title="Novo Cliente" :actions="newCustomerModalActions" ref="newCustomerModal">
            <crud-form :fields="newCustomerFields" :item="selectedOrder.customer"></crud-form>
        </modal>

        <modal id="finishModal" title="Fechar Pedido" :actions="finishModalActions" ref="finishModal">
            <div class="row p-3">
                Tem certeza que deseja fechar esse pedido?<br>Essa ação não poderá ser desfeita!
            </div>
            <div class="row p-3 text-danger" v-if="selectedOrder.discount > 0">
                Atenção: Será aplicado um desconto de {{ strCurrency(selectedOrder.discount, true) }}
            </div>
            <div class="row">
                <label for="salesPerson" class="col-3">Vendedor: </label>
                <select id="salesPerson" class="col form-control form-control-sm" v-model="selectedOrder.codUser">
                    <option value="">-- nenhum vendedor --</option>
                    <option v-for="user in userList" v-bind:value="user.codUser">{{ user.name }}
                    </option>
                </select>
                <div class="col-3"></div>
            </div>
        </modal>

        <div class="container text-center" v-if="$route.params.id == '0'">
            <div class="row">
                <div class="col">
                    <img src="../img/logo.png">
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col m-5">
                    <p class="h5 font-weight-normal text-left">
                        Pedidos Abertos:
                    </p>

                    <list-table :items="orderList" :class="['text-left', 'table-hover']" :columns="orderListColumns"
                        componentName="pdv" msgNoRecords="Não há pedidos abertos"></list-table>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#/" class="btn btn-info">Sair</a>
                    <button type="button" class="btn btn-primary" @click="newOrder">Novo Pedido</button>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center" v-if="$route.params.id != '0'">
            <div class="pt-5 row">
                <div class="col-3 text-center"><img src="../img/logo.png"></div>

                <div class="col pt-4 pb-5">
                    <div class="form-group row">
                        <label class="col-2" for="dtCreate">Pedido</label>
                        <input type="text" class="form-control form-control-sm col-2" readonly
                            v-model="selectedOrder.codOrder">

                        <label class="col-1" for="dtCreate">Data</label>
                        <input type="text" class="form-control form-control-sm col-2" readonly
                            v-model="selectedOrder.strDtCreate">
                    </div>
                    <div class="form-group row">
                        <label class="col-2" for="name">Cliente</label>
                        <input type="text" class="form-control form-control-sm col-5" readonly
                            v-model="selectedOrder.customer.name">
                        <button type="button" class="btn btn-sm btn-secondary ml-2" v-if="!selectedOrder.codCustomer"
                            @click="selectCustomer">Buscar Cliente</button>
                        <button type="button" class="btn btn-sm btn-danger ml-2" v-if="selectedOrder.codCustomer"
                            v-on:click="addCustomer({codCustomer:''})">Limpar Cliente</button>

                        <button type="button" class="btn btn-sm btn-secondary ml-2" v-if="!selectedOrder.codCustomer"
                            @click="$refs.newCustomerModal.show()">Novo Cliente</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg p-3">
                    <p class="h2 font-weight-normal text-left">
                        Itens
                        <button type="button" class="btn btn-sm btn-secondary ml-2" @click="selectItem">+</button>
                    </p>

                    <list-table :items="selectedOrder.productItemList" :class="['text-left']"
                        :columns="productItemListColumns"></list-table>

                    <div class="text-right pr-5 pb-3">
                        <span class="font-weight-bold">Total: </span>
                        {{ strCurrency(selectedOrder.totalValue, true) }}
                    </div>
                </div>

                <div class="col-lg p-3">
                    <p class="h2 font-weight-normal text-left">
                        Pagamento
                        <button type="button" class="btn btn-sm btn-secondary ml-2" @click="selectPayment"
                            v-bind:disabled="selectedOrder.discount <= 0">+</button>
                    </p>

                    <list-table :items="selectedOrder.paymentList" :class="['text-left']" :columns="paymentListColumns">
                    </list-table>

                    <div class="text-right pr-5 pb-3">
                        <span class="font-weight-bold">Restante: </span>
                        {{ strCurrency(selectedOrder.discount, true) }}
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col text-center pb-3">
                    <a href="#/pdv/0" class="btn btn-secondary ml-2">Voltar</a>
                    <button type="button" v-on:click="cancelOrder()" class="btn btn-danger ml-2">
                        Cancelar Pedido
                    </button>
                    <button type="button" v-on:click="finishOrder()" class="btn btn-primary ml-2">
                        Fechar Pedido
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>