<div>
    <form id="itemForm" @submit.prevent="saveItem" autocomplete="off">

        <modal id="addItemsModal" title="Adicionar Itens no Estoque" :actions="addItemsModalActions"
            ref="addItemsModal">
            <div class="row">
                <label class="col text-right" for="qtdItensAdd">Quantos itens deseja adicionar:</label>
                <input id="qtdItensAdd" type="text" class="form-control form-control-sm col-sm-3" v-model="itemsAdd" v-on:keydown.enter="addItems($data, $event);$refs.addItemsModal.hide();">
                <div class="col-sm-2"></div>
            </div>
        </modal>

        <modal id="moveItemsModal" title="Mover Itens" :actions="moveItemsModalActions" ref="moveItemsModal">
            <div class="row mb-2">
                <div class="col-sm-2"></div>
                <select class="col form-control form-control-sm" v-model="itemsMoveTo">
                    <option value="SHELF">Mover do Estoque para o Expositor</option>
                    <option value="STORAGE">Mover do Expositor para o Estoque</option>
                </select>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <label class="col text-right" for="qtdItensMove">Quantos itens deseja mover:</label>
                <input id="qtdItensMove" type="text" class="form-control form-control-sm col-sm-3" v-model="itemsMove">
                <div class="col-sm-2"></div>
            </div>
        </modal>

        <div class="container-fluid pt-3" v-if="$route.params.id != '0'">
            <div class="row">
                <div class="col">
                    <div class="row h4 pt-2 pl-3" v-if="currentItem.notFound">
                        Produto não encontrado
                    </div>
                    <div class="row h4 pt-2 pl-3" v-else-if="currentItem._id">
                        {{currentItem.name}}
                    </div>
                    <div class="row h4 pt-2 pl-3" v-else-if="!currentItem._id">
                        Novo Produto
                    </div>
                    <hr>
                    <crud-form :fields="crudFields" :item="currentItem" v-if="!currentItem.notFound"></crud-form>
                    <div class="form-group row" v-if="!currentItem.notFound">
                        <label class="col-sm-3" for="value">Código de Barras</label>
                        <div class="col-sm-3" v-html="barcodeImg"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="row h4 pt-2 pl-3">
                        Itens
                    </div>
                    <div class="row pt-2 pl-3 pr-3 overflow-auto" style="height: 65vh;">
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <th scope="col" style="cursor: default;">Em estoque</th>
                                    <th style="cursor: default;">{{countItems(currentItem.productItem, 'STORAGE')}}</th>
                                </tr>
                                <tr>
                                    <th scope="col" style="cursor: default;">No expositor</th>
                                    <th style="cursor: default;">{{countItems(currentItem.productItem, 'SHELF')}}</th>
                                </tr>
                                <tr>
                                    <th scope="col" style="cursor: default;">Reservados</th>
                                    <th style="cursor: default;">{{countItems(currentItem.productItem, 'RESERVED')}}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col" style="cursor: default;">Vendidos</th>
                                    <th style="cursor: default;">{{countItems(currentItem.productItem, 'SOLD')}}</th>
                                </tr>
                                <tr>
                                    <th scope="col" style="cursor: default;">Cancelados</th>
                                    <th style="cursor: default;">{{countItems(currentItem.productItem, 'CANCELED')}}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid" v-if="$route.params.id == '0'">
            <div class="m-3 mb-4">
                <img src="../img/icon/product.png" width="40" class="align-middle">
                <span class="align-middle h2 font-italic text-secondary">&nbsp;&nbsp;Produtos</span>
            </div>
            <div class="container">
                <list-table :items="items" :columns="listTableColumns" componentName="product" :class="['table-hover']"
                    msgNoRecords="Não há produtos cadastrados" pageSize="10"></list-table>
            </div>
        </div>

        <div class="container-fluid fixed-bottom pb-3 text-right">
            <crud-actions :removeFunction="removeItem" labelNew="Novo Produto" componentName="product"
                :currentItem="currentItem">
                <button type="button" class="btn btn-info" @click="$refs.addItemsModal.show()"
                    v-if="$route.params.id != '0'">
                    Adicionar Estoque
                </button>
                <button type="button" class="btn btn-info" @click="$refs.moveItemsModal.show()"
                    v-if="$route.params.id != '0'">
                    Mover Itens
                </button>
            </crud-actions>
        </div>
    </form>
</div>