<form id="itemForm" onsubmit="contentApp.saveItem(event)" autocomplete="off">
        <div class="container itemEdit w-50">
            <div class="row">
                <div class="col border rounded-lg">
                    <div class="row h4 pt-2 pl-3" v-if="currentItem._id">
                        {{currentItem.name}}
                    </div>
                    <div class="row h4 pt-2 pl-3" v-if="!currentItem._id">
                        Novo Usuário
                    </div>
                    <hr>
                    <div class="form-group row pt-2">
                        <label class="col-sm-3" for="codUser">Código</label>
                        <input id="codUser" type="text" class="form-control form-control-sm col-sm-3" readonly
                            v-model="currentItem.codUser">
                        <div class="col ml-3">
                            <input id="inactive" type="checkbox" class="form-check-input" v-model="currentItem.isInactive">
                            <label class="form-check-label" for="inactive">Inativo</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" for="dtCreate">Data Cadastro</label>
                        <input id="dtCreate" type="text" class="form-control form-control-sm col-sm-3" readonly
                            v-model="currentItem.strDtCreate">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" for="name">Nome</label>
                        <input id="name" type="text" class="form-control form-control-sm col-sm-8" placeholder="Nome"
                            required v-model="currentItem.name">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid listItems">
            <div class="m-3 mb-4">
                <img src="../img/icon/user.png" width="40" class="align-middle">
                <span class="align-middle h2 font-italic text-secondary">&nbsp;&nbsp;Usuários</span>
            </div>
    
            <div class="container">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items" v-on:click="editItem(true, item._id)">
                            <th>{{ item.codUser }}</th>
                            <th>{{ item.name }}</th>
                            <th>{{ status(item.inactive) }}</th>
                        </tr>
                        <tr v-if="items.length == 0">
                            <th colspan="3" class="text-center" style="cursor: default;">Não há usuários cadastrados.</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="container-fluid fixed-bottom pb-3 text-right">
            <button type="button" class="btn btn-secondary" onclick="contentApp.editItem();" v-if="isEditing">
                Cancelar
            </button>
            <button type="button" class="btn btn-danger" onclick="contentApp.removeItem();"
                v-if="contentApp.currentItem._id">
                Excluir
            </button>
            <button type="submit" class="btn btn-primary" v-if="isEditing">
                Salvar
            </button>
            <button type="button" class="btn btn-info" onclick="contentApp.editItem(true)" v-if="!isEditing">
                Novo Usuário
            </button>
        </div>
    </form>